<div class="modal" id="mailboxModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your mailbox</h5>
                <button type="button" class="btn btn-outline-light check-mail-btn" 
                    (click)="getNewMail()">Check for new mail</button>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-mailbox></app-mailbox>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">New Message</button> -->
            </div>
        </div>
    </div>
</div>