<div class="modal fade" tabindex="-1" id="emailModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send email to user: {{toEmail}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 form-floating">
                    <input type="text" class="form-control" id="headerField" [(ngModel)]="mailHeader">
                    <label for="headerField">Header</label>
                </div>
                <div class="mb-3 form-floating">
                    <textarea id="emailTextarea" class="form-control" [(ngModel)]="mailContent"
                        style="height: 20em;"></textarea>
                    <label for="emailTextarea">Body</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="onSubmit()">Send</button>
            </div>
        </div>
    </div>
</div>