<!--
    The *ngFor directive "let user of users"
    references the users property inside of the typescript class.
    It loops through the items of the users array. The {{user}}
    variable directly references user in "let user of users".
-->
<div class="position-fixed">
    <div id="membersCount" class="p-3"></div>
    <div class="col" style="padding-top: 1em;">
        <ul id="membersList">
            <li *ngFor="let user of users">
                <i class="far fa-user px-2"></i> {{user}}
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" href="#"
                            data-bs-target="#reportModal" (click)="setChosenUser(user)">Report</a>
                        </li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" href="#"
                            data-bs-target="#emailModal" (click)="setChosenUser(user)">Email</a>
                        </li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li> -->
                        <!-- <li><a class="dropdown-item" href="#">..</a></li> -->
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
